---
---
body {
  font-size: 13px;
}
.site-header {
  padding: 15px 0px;
  border-top: solid 8px grey;
  border-bottom: solid 1px #eee;
}
.site-header .logo {
  margin: auto;
  display: block;
  width: 160px;
  height: 100px;
  background: url({{ "/images/graphs.png?v=1.1" | prepend: site.baseurl }}) no-repeat;
}
.site-header .page-link {
  color: #333;
  font-size: 18px;
}
.digging-list {
  list-style: none;
  padding: 30px;
}
.digging-item {
  padding: 15px 0;
  margin: 45px 0;
}
.digging-item .digging-shortcut > * {
  float: right;
  clear: both;
}
.digging-item .digging-shortcut .digging-logo {
  display: block;
  margin-bottom: 5px;
  width: 70px;
  height: 70px;
  background: url({{"/images/graphs.png?v=1.1" | prepend: site.baseurl}}) no-repeat;
}
.digging-item .digging-shortcut .digging-label {
  color: #333;
  font-size: 16px;
  font-weight: bold;
}
.digging-item .digging-shortcut .digging-javascript {
  background-position: 0px -160px;
}
.digging-item .digging-shortcut .digging-magento {
  background-position: -100px -145px;
  width: 80px;
  height: 100px;
}
.digging-item .digging-shortcut .digging-mean {
  background-position: -205px -150px;
  width: 90px;
  height: 90px;
}
.digging-item .digging-post-count > * {
  float: right;
  clear: both;
  margin: 0;
  padding: 0;
}
.digging-item .digging-post-count .count-number {
  margin-top: 15px;
  font-weight: bold;
  font-size: 36px;
}
.digging-item .digging-describe {
  font-style: italic;
  opacity: .6;
}
.digging-item .digging-posts-by-category {
  list-style: none;
}
.digging-item .digging-posts-by-category .post-item .post-decoration {
  font-size: 48px;
  padding-top: 15px;
}
.digging-item .digging-posts-by-category .post-item .post-preview {
  border-left: solid 2px #333;
}
.digging-item .digging-posts-by-category .post-item .post-preview .post-meta {
  color: grey;
}
.site-footer {
  border-top: solid 4px #eee;
  padding: 30px 0;
  background-color: #2c3e50;
  color: white;
}
.site-footer a,
.site-footer a:hover {
  color: white;
}
.site-footer .digging-things {
  list-style: none;
}
.site-footer .social-media-list {
  list-style: none;
  padding: 0px 0px 0px 0px;
}
.site-footer .social-media-list > * {
  margin: 3px 0;
}
.site-footer .author-picture-crop {
  max-width: 150px;
  overflow: hidden;
  border: solid 3px white;
}
.site-footer .author-picture-crop .author-picture {
  width: 220%;
  margin: -15px 0px 0px -80px;
}
/*
 *.icon
 */
.icon svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.icon svg path {
  fill: white;
}
/*
 * border effect
 */
.border-effect-container {
  position: relative;
  overflow: hidden;
  background: #ddd;
}
.border-effect-container svg {
  position: absolute;
}
.border-effect-container svg line {
  stroke-width: 10;
  stroke: #000;
  fill: none;
  stroke-dasharray: 200;
  -webkit-transition: -webkit-transform 0.6s ease-out;
  transition: transform 0.6s ease-out;
}
.border-effect-container:hover svg line {
  -webkit-transform: translateX(-400px);
  transform: translateX(-400px);
}
/*
 * flex
 */
.flex-container,
.flex-container-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}
.flex-container-wrap {
  flex-wrap: wrap !important;
}
