---
---
.icon svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.icon svg path {
  fill: white;
}
/*
* border effect
*/
.border-effect-container {
  position: relative;
  overflow: hidden;
  background: #ddd;
}
.border-effect-container svg {
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  -webkit-transition: background-color 0.6s ease-in-out;
  transition: background-color 0.6s ease-in-out;
}
.border-effect-container svg line {
  stroke-width: 4;
  stroke: white;
  fill: none;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.border-effect-container svg .top,
.border-effect-container svg .bottom {
  stroke-dasharray: 150 110;
}
.border-effect-container svg .right,
.border-effect-container svg .left {
  stroke-dasharray: 200 160;
}
.border-effect-container svg:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.border-effect-container:hover svg line {
  stroke-width: 8;
}
.border-effect-container:hover svg .top {
  -webkit-transform: translateX(-130px);
  transform: translateX(-130px);
}
.border-effect-container:hover svg .right {
  -webkit-transform: translateY(-180px);
  transform: translateY(-180px);
}
.border-effect-container:hover svg .bottom {
  -webkit-transform: translateX(130px);
  transform: translateX(130px);
}
.border-effect-container:hover svg .left {
  -webkit-transform: translateY(180px);
  transform: translateY(180px);
}
/*
* flex
*/
.flex-container,
.flex-container-wrap {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: stretch;
  align-content: stretch;
}
.flex-container-wrap {
  -webkit-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}
.uncontent-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*
 * site
 */
html {
  height: 100% !important;
  min-height: 100% !important;
}
body {
  height: 100%;
  min-height: 100%;
  color: #4D4741;
  background-color: #EEEADD;
}
body > .container-fluid,
body .container {
  height: 100% !important;
  min-height: 100% !important;
}
.site-marketing {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #D3CCAB;
  border-bottom: solid 4px #4d4741;
  padding: 30px;
}
.site-marketing #logo-marketing {
  display: block;
  width: 270px;
  height: 190px;
}
.site-marketing .references {
  position: absolute;
}
.site-marketing .content {
  -webkit-justify-content: space-around;
  justify-content: space-around;
  height: 100%;
  min-height: 100%;
}
.site-marketing .content .literal {
  border-bottom: solid 2px #4d4741;
}
.site-marketing .content .literal h1 {
  font-size: 5em;
  font-weight: bold;
  line-height: .8em;
}
.site-marketing .content .literal h6 {
  font-size: 1.6em;
}
.site-header .page-link {
  color: white;
  font-size: 18px;
}
.site-header {
  position: relative;
  padding: 0px 0px 45px 0px;
  color: white;
  background-color: #4D4741;
  border-bottom: solid 8px #D3CCAB;
}
.site-header a,
.site-header a:hover {
  color: white;
}
.site-header .logo {
  margin: auto;
  display: block;
  width: 160px;
  height: 100px;
  background: url({{ "/images/graphs.png?v=2" | prepend: site.baseurl }}) no-repeat;
}
.site-header .header-meta {
  border-bottom: solid 2px white;
  background-color: #716c67;
  padding: 45px 30px 0 30px;
}
.site-header .header-meta .header-about {
  margin-left: 40%;
  border-left: solid 2px white;
  border-right: solid 2px white;
}
.site-header .header-meta .header-about > * {
  padding: 0 30px;
}
.site-header .header-meta .hire-me {
  padding: 0 60px;
}
.site-header .header-main {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.site-header .header-main .things {
  position: relative;
  left: 2px;
  z-index: 1;
  border-left: solid 2px white;
  border-bottom: solid 2px white;
  border-right: solid 2px #4d4741;
}
.site-header .header-main .things .item {
  padding: 0 20px;
}
.site-header .header-main .things .item h4 {
  font-weight: bold;
}
.site-header .header-main .graphs {
  padding: 20px 90px 0 90px;
  border-right: solid 2px white;
  border-left: solid 2px white;
}
.digging-list {
  list-style: none;
  padding: 30px 120px 30px 30px;
}
.digging-item {
  padding: 15px 0;
  margin: 45px 0;
}
.digging-item .digging-shortcut > * {
  float: right;
  clear: both;
}
.digging-item .digging-shortcut .digging-logo {
  display: block;
  margin-bottom: 5px;
  width: 70px;
  height: 85px;
  background: url({{"/images/graphs.png?v=2" | prepend: site.baseurl}}) no-repeat;
}
.digging-item .digging-shortcut .digging-label {
  color: #4d4741;
  font-size: 16px;
  font-weight: bold;
}
.digging-item .digging-shortcut .digging-javascript {
  background-position: -1px -110px;
}
.digging-item .digging-shortcut .digging-magento {
  background-position: -311px -110px;
}
.digging-item .digging-shortcut .digging-mean {
  background-position: -391px -110px;
}
.digging-item .digging-shortcut .digging-angularjs {
  background-position: -81px -110px;
}
.digging-item .digging-shortcut .digging-pure-css {
  background-position: -161px -110px;
  width: 140px;
}
.digging-item .digging-post-count > * {
  float: right;
  clear: both;
  margin: 0;
  padding: 0;
}
.digging-item .digging-post-count .count-number {
  margin-top: 15px;
  font-weight: bold;
  font-size: 36px;
}
.digging-item .digging-describe {
  font-style: italic;
  opacity: .6;
}
.digging-item .digging-page-title {
  margin: 45px 0 15px 0;
}
.digging-item .digging-posts-by-category {
  list-style: none;
  margin: 30px 0;
}
.digging-item .digging-posts-by-category .post-item .post-decoration {
  font-size: 48px;
  padding-top: 15px;
}
.digging-item .digging-posts-by-category .post-item .post-preview {
  border-left: solid 3px #4d4741;
  padding: 15px;
}
.digging-item .digging-posts-by-category .post-item .post-preview .post-meta {
  color: grey;
}
.post {
  padding: 60px 120px;
}
.post .post-header {
  margin: 0 0 30px 0;
}
.site-footer {
  position: relative;
  padding: 0;
  color: white;
  background-color: #4D4741;
  border-top: solid 8px #D3CCAB;
  border-bottom: solid 8px #D3CCAB;
}
.site-footer a,
.site-footer a:hover {
  color: white;
}
.site-footer .social-media-list {
  list-style: none;
  padding: 0px 0px 0px 0px;
}
.site-footer .social-media-list > * {
  margin: 3px 0;
}
.site-footer .author-picture-crop {
  width: 150px;
  height: 200px;
  overflow: hidden;
}
.site-footer .author-picture-crop .author-picture {
  width: 220%;
  margin: -15px 0px 0px -80px;
}
.site-footer .footer-meta {
  align-items: flex-end;
  -webkit-align-items: flex-end;
  justify-content: center;
  -webkit-justify-content: center;
  border-bottom: solid 4px white;
  padding: 45px 0 0 0;
}
.site-footer .footer-meta .footer-logo {
  padding: 0 0 15px 0;
}
.site-footer .footer-meta .footer-logo .logo {
  margin: auto;
  display: block;
  width: 160px;
  height: 100px;
  background: url({{ "/images/graphs.png?v=2" | prepend: site.baseurl }}) no-repeat;
}
.site-footer .footer-meta .footer-about {
  margin-left: 20%;
  border-left: solid 2px white;
  border-right: solid 2px white;
}
.site-footer .footer-meta .footer-about > * {
  padding: 0 30px;
}
.site-footer .footer-meta .hire-me {
  padding: 0 60px;
}
.site-footer .footer-main {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  background-color: #DA6D5E;
  padding: 0 0 30px 0;
}
.site-footer .footer-main .things {
  position: relative;
  left: 2px;
  z-index: 1;
  border-left: solid 2px white;
  border-bottom: solid 2px white;
  border-right: solid 2px #DA6D5E;
}
.site-footer .footer-main .things .item {
  padding: 0 20px;
}
.site-footer .footer-main .things .item h4 {
  font-weight: bold;
}
.site-footer .footer-main .footer-personal-stuffs {
  padding: 15px 22px;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.site-footer .footer-main .footer-personal-stuffs > * {
  margin-right: 45px;
}
.site-footer .footer-main .graphs {
  padding: 30px 45px 0 45px;
  border-right: solid 2px white;
  border-left: solid 2px white;
}
