---
---

/*
 * paterns
 */
 /*
  *.icon
  */
.icon {
  svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    path {
      fill: white;
    }
  }
}
/*
* border effect
*/
.border-effect-container {
  position: relative;
  overflow: hidden;
  background: #ddd;
  svg {
    background-color: rgba(255,255,255,0);
    position: absolute;
    -webkit-transition: background-color .6s ease-in-out;
    transition: background-color .6s ease-in-out;
    line {
      stroke-width: 4;
      stroke: white;
      fill: none;
      -webkit-transition: all .6s ease-in-out;
      transition: all .6s ease-in-out;
    }
    .top, .bottom {
      stroke-dasharray: 150 110;
    }
    .right, .left {
      stroke-dasharray: 200 160;
    }
  }
  svg:hover {
    background-color: rgba(255,255,255,.1);
  }
}
.border-effect-container:hover {
  svg {
    line {
      stroke-width: 8;
    }
    .top {
      -webkit-transform: translateX(-130px);
      transform: translateX(-130px);
    }
    .right {
      -webkit-transform: translateY(-180px);
      transform: translateY(-180px);
    }
    .bottom {
      -webkit-transform: translateX(130px);
      transform: translateX(130px);
    }
    .left {
      -webkit-transform: translateY(180px);
      transform: translateY(180px);
    }
  }
}
/*
* flex
*/
.flex-container, .flex-container-wrap {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: stretch;
  align-content: stretch;
  .flex-item {

  }
}
.flex-container-wrap {
  -webkit-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}
.uncontent-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
 * site
 */

html {
  height: 100% !important;
  min-height: 100% !important;
}
body {
  height: 100%;
  min-height: 100%;
  color: #4D4741;
  background-color: #EEEADD;
  > .container-fluid, .container {
    height: 100% !important;
    min-height: 100% !important;
  }
}
.site-marketing {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #D3CCAB;
  border-bottom: solid 4px #4d4741;
  padding: 30px;
  #logo-marketing {
    display: block;
    width: 100%;
  }
  .references {
    position: absolute;
    a, a:hover {
      color: #4d4741;
    }
  }
  .content {
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
    min-height: 100%;
    .decoration {
      width:20%;
      max-width: 300px;
    }
    .literal {
      border-bottom: solid 2px #4d4741;
      margin-left: 60px;
      h1 {
        font-size: 5em;
        font-weight: bold;
        line-height: .8em;
      }
      h6 {
        font-size: 1.6em;
      }
    }
  }
}
.site-header {
  .page-link {
    color: white;
    font-size: 18px;
  }
}
.site-header {
  position: relative;
  padding: 0px 0px 45px 0px;
  color: white;
  background-color: #4D4741;
  border-bottom: solid 8px #D3CCAB;
  a, a:hover {
    color: white;
  }
  .logo {
    margin: auto;
    display: block;
    width: 160px;
    height: 100px;
    background: url(~'{{ "/images/graphs.png?v=2" | prepend: site.baseurl }}') no-repeat;
  }
  .header-meta {
    border-bottom: solid 2px white;
    background-color: #716c67;
    padding: 45px 30px 0 30px;
    .header-about {
      margin-left:40%;
      border-left: solid 2px white;
      border-right: solid 2px white;
      > * {
        padding: 0 30px;
      }
    }
    .hire-me {
      padding: 0 60px;
    }
  }
  .header-main {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    .things {
      position: relative;
      left: 2px;
      z-index: 1;
      border-left: solid 2px white;
      border-bottom: solid 2px white;
      border-right: solid 2px #4d4741;
      .item {
        padding: 0 20px;
        h4 {
          font-weight: bold;
        }
      }
    }
    .graphs {
      padding: 20px 90px 0 90px;
      border-right: solid 2px white;
      border-left: solid 2px white;
    }
  }
}
.digging-list {
  list-style: none;
  padding: 30px 120px 30px 30px;
}
.digging-item {
  padding: 15px 0;
  margin: 45px 0;
  .digging-shortcut {
    > * {
      float: right;
      clear: both;
    }
    .digging-logo {
      display: block;
      margin-bottom: 5px;
      width: 70px;
      height: 85px;
      background: url(~'{{"/images/graphs.png?v=2" | prepend: site.baseurl}}') no-repeat;
    }
    .digging-label {
      color: #4d4741;
      font-size: 16px;
      font-weight: bold;
    }
    .digging-javascript {
      background-position: -1px -110px;
    }
    .digging-magento {
      background-position: -311px -110px;
    }
    .digging-mean {
      background-position: -391px -110px;
    }
    .digging-angularjs {
      background-position: -81px -110px;
    }
    .digging-pure-css {
      background-position: -161px -110px;
      width: 140px;
    }
  }

  .digging-post-count {
    > * {
      float: right;
      clear: both;
      margin: 0;
      padding: 0;
    }
    .count-number {
      margin-top: 15px;
      font-weight: bold;
      font-size: 36px;
    }
  }

  .digging-describe {
    font-style: italic;
    opacity: .6;
  }
  .digging-page-title {
    margin: 45px 0 15px 0;
  }
  .digging-posts-by-category {
    list-style: none;
    margin: 30px 0;
    .post-item {
      .post-decoration {
        font-size: 48px;
        padding-top: 15px;
      }
      .post-preview {
        border-left: solid 3px #4d4741;
        padding: 15px;
        .post-meta {
          color: grey;
        }
        .post-title {

        }
        .post-describe {

        }
      }
    }
  }
}

.post {
  padding: 60px 120px;
  .post-header {
    margin: 0 0 30px 0;
  }
  .post-content {

  }
}

.site-footer {
  position: relative;
  padding: 0;
  color: white;
  background-color: #4D4741;
  border-top: solid 8px #D3CCAB;
  border-bottom: solid 8px #D3CCAB;
  a, a:hover {
    color: white;
  }
  .social-media-list {
    list-style: none;
    padding: 0px 0px 0px 0px;
    > * {
      margin: 3px 0;
    }
  }
  .author-picture-crop {
    width: 150px;
    height: 200px;
    overflow: hidden;
    .author-picture {
      width: 220%;
      margin: -15px 0px 0px -80px;
    }
  }
  .footer-meta {
    align-items: flex-end;
    -webkit-align-items: flex-end;
    justify-content: center;
    -webkit-justify-content: center;
    border-bottom: solid 4px white;
    padding: 45px 0 0 0;
    .footer-logo {
      padding: 0 15% 15px 0;
      .logo {
        margin: auto;
        display: block;
        width: 160px;
        height: 100px;
        background: url(~'{{ "/images/graphs.png?v=2" | prepend: site.baseurl }}') no-repeat;
      }
    }
    .footer-about {
      border-left: solid 2px white;
      border-right: solid 2px white;
      > * {
        padding: 0 30px;
      }
    }
    .hire-me {
      padding: 0 60px;
    }
  }
  .footer-main {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    background-color: #DA6D5E;
    padding: 0 0 30px 0;
    .things {
      position: relative;
      left: 2px;
      z-index: 1;
      border-left: solid 2px white;
      border-bottom: solid 2px white;
      border-right: solid 2px #DA6D5E;
      .item {
        padding: 0 20px;
        h4 {
          font-weight: bold;
        }
      }
    }
    .footer-personal-stuffs {
      padding: 15px 22px;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      > * {
        margin-right: 45px;
      }
    }
    .graphs {
      padding: 30px 3% 0 3%;
      border-right: solid 2px white;
      border-left: solid 2px white;
    }
  }
}
