---
---

/*
 * variables
 */

body {
  color: #4D4741;
  background-color: #EEEADD;
}
.site-header {
  padding: 45px 0px;
  color: white;
  background-color: #4D4741;
  border-bottom: solid 8px #D3CCAB;
  .logo {
    margin: auto;
    display: block;
    width: 160px;
    height: 100px;
    background: url(~'{{ "/images/graphs.png?v=2" | prepend: site.baseurl }}') no-repeat;
  }
  .page-link {
    color: white;
    font-size: 18px;
  }
}
.digging-list {
  list-style: none;
  padding: 30px 120px 30px 30px;
}
.digging-item {
  padding: 15px 0;
  margin: 45px 0;
  .digging-shortcut {
    > * {
      float: right;
      clear: both;
    }
    .digging-logo {
      display: block;
      margin-bottom: 5px;
      width: 70px;
      height: 85px;
      background: url(~'{{"/images/graphs.png?v=2" | prepend: site.baseurl}}') no-repeat;
    }
    .digging-label {
      color: #333;
      font-size: 16px;
      font-weight: bold;
    }
    .digging-javascript {
      background-position: -1px -110px;
    }
    .digging-magento {
      background-position: -311px -110px;
    }
    .digging-mean {
      background-position: -391px -110px;
    }
    .digging-angularjs {
      background-position: -81px -110px;
    }
    .digging-pure-css {
      background-position: -161px -110px;
      width: 140px;
    }
  }

  .digging-post-count {
    > * {
      float: right;
      clear: both;
      margin: 0;
      padding: 0;
    }
    .count-number {
      margin-top: 15px;
      font-weight: bold;
      font-size: 36px;
    }
  }

  .digging-describe {
    font-style: italic;
    opacity: .6;
  }
  .digging-page-title {

  }
  .digging-posts-by-category {
    list-style: none;
    .post-item {
      .post-decoration {
        font-size: 48px;
        padding-top: 15px;
      }
      .post-preview {
        border-left: solid 2px #333;
        .post-meta {
          color: grey;
        }
        .post-title {

        }
        .post-describe {

        }
      }
    }
  }
}

.site-footer {
  padding: 60px 0;
  background-color: #DA6D5E;
  color: white;
  a, a:hover {
    color: white;
  }
  .digging-things {
    list-style: none;
  }
  .social-media-list {
    list-style: none;
    padding: 0px 0px 0px 0px;
    > * {
      margin: 3px 0;
    }
  }
  .author-picture-crop {
    width: 150px;
    height: 200px;
    overflow: hidden;
    .author-picture {
      width: 220%;
      margin: -15px 0px 0px -80px;
    }
  }
}
/*
 *.icon
 */
.icon {
  svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    path {
      fill: white;
    }
  }
}
/*
 * border effect
 */
.border-effect-container {
  position: relative;
  overflow: hidden;
  background: #ddd;
  svg {
    background-color: rgba(255,255,255,0);
    position: absolute;
    -webkit-transition: background-color .6s ease-in-out;
    transition: background-color .6s ease-in-out;
    line {
      stroke-width: 4;
      stroke: white;
      fill: none;
      -webkit-transition: all .6s ease-in-out;
      transition: all .6s ease-in-out;
    }
    .top, .bottom {
      stroke-dasharray: 150 110;
    }
    .right, .left {
      stroke-dasharray: 200 160;
    }
  }
  svg:hover {
    background-color: rgba(255,255,255,.1);
  }
}
.border-effect-container:hover {
  svg {
    line {
      stroke-width: 8;
    }
    .top {
      -webkit-transform: translateX(-130px);
      transform: translateX(-130px);
    }
    .right {
      -webkit-transform: translateY(-180px);
      transform: translateY(-180px);
    }
    .bottom {
      -webkit-transform: translateX(130px);
      transform: translateX(130px);
    }
    .left {
      -webkit-transform: translateY(180px);
      transform: translateY(180px);
    }
  }
}
/*
 * flex
 */
.flex-container, .flex-container-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  .flex-item {

  }
}
.flex-container-wrap {
  flex-wrap: wrap !important;
}
