---
layout: default
---
<div class="home">
  <ul class="digging-list">
  {% for page in site.pages %}
    {% if page.active %}
      <li class="digging-item">
        <div class="row">
          <div class="col-md-2">
            <div class="digging-shortcut">
              <a class="digging-logo digging-{{page.type}}" href="{{page.url | prepend: site.baseurl}}"></a>
              <a class="digging-label" href="{{page.url | prepend: site.baseurl}}">{{page.title}}</a>
            </div>
            <div class="digging-post-count">
              <span class="count-number">{{site.categories[page.type] | size}}</span>
              <span>Diggin'</span>
            </class>
            </div>
          </div>
          <div class="col-md-10">
            <p class="digging-describe">{{page.description}}</p>
            <h3 class="digging-page-title"><strong>Newest Diggin'</strong></h3>
            <ul class="digging-posts-by-category">
            {% for post in site.categories[page.type] %}
                <li class="post-item">
                  <div class="row">
                    <div class="col-md-1 post-decoration"><span>{{post.title | split: '' | first}}</span></div>
                    <div class="col-md-11 post-preview">
                      <div class="post-meta">
                        <span class="">{{post.date | date: "%b %-d, %Y"}}</span>
                        <span class="text-capitalize">{{ post.categories | join: " "}}</span>
                      </div>
                      <div class="post-title flex-container">
                        <a class="flex-item post-link" href="{{ post.url | prepend: site.baseurl }}"><h4 class="flex-item"><strong>{{ post.title }}</strong></h4></a>
                        <div class="flex-item"><strong>{{ post.timeToRead}}</strong> <span class="text-muted">minutes</span></div>
                      </div>
                      <p>{{post.description}}</p>
                    </div>
                  </div>
                </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
