---
layout: marketing
---
<div class="home row flex-container">
  <ul class="digging-list uncontent-list">
  {% for page in site.pages %}
    {% if page.active %}
      <li class="digging-item flex-container">
          <div class="decorate hidden-xs">
            <div class="digging-shortcut">
              <a class="digging-logo digging-{{page.type}}" href="{{page.url | prepend: site.baseurl}}"></a>
              <a class="digging-label" href="{{page.url | prepend: site.baseurl}}">{{page.title}}</a>
            </div>
            <div class="digging-post-count">
              <span class="count-number">{{site.categories[page.type] | size}}</span>
              <span>Diggin'</span>
            </div>
          </div>
          <div class="content">
            <p class="digging-describe hidden-xs">{{page.description}}</p>
            <h3 class="digging-page-title"><strong>Newest Diggin'</strong></h3>
            <ul class="digging-posts-by-category uncontent-list">
            {% for post in site.categories[page.type] limit:3 %}
                <li class="post-item">
                  <div class="flex-container">
                    <div class="post-preview">
                      <div class="post-meta">
                        <span class="">{{post.date | date: "%b %-d, %Y"}}</span>
                        <span class="text-uppercase">{{ post.categories | join: " "}}</span>
                      </div>
                      <div class="post-title flex-container">
                        <h4 class="first-char"><strong>{{post.title | split: '' | first}}</strong></h4>
                        <a class="flex-item post-link" href="{{ post.url | prepend: site.baseurl }}"><h4 class="flex-item"><strong>{{ post.title }}</strong></h4></a>
                        <div class="flex-item time-to-read"><strong>{{ post.timeToRead}}'</strong></div>
                      </div>
                      <p>{{post.description}}</p>
                    </div>
                  </div>
                </li>
            {% endfor %}
            </ul>
          </div>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
  <div data-spy="affix" data-offset-top="60" data-offset-bottom="200" class="frequency hidden-xs hidden-sm">
    <h4><strong>Frequency Stuffs</strong></h4>
    <label>Ruby basic</label>
    {% highlight ruby %}
    def print_hi(name)
      puts "Hi, #{name}"
    end
    print_hi('Tom')
    #=> prints 'Hi, Tom' to STDOUT.
    {% endhighlight %}
    <label>Transitions Only After Page Load</label>
    <h5>HTML: add a class of "preload" to the body element.</h5>
{% highlight html %}
<body class="preload">
{% endhighlight %}
    <h5>CSS: then ensure no transitions would happen:</h5>
{% highlight css %}
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
{% endhighlight %}
    <h5>jQuery: then removed that class on page load.</h5>
{% highlight js %}
$("window").load(function() {
  $("body").removeClass("preload");
});
{% endhighlight %}
  </div>
</div>
