---
layout: marketing
---
<div class="home row">
  <ul class="digging-list uncontent-list">
  {% for page in site.pages %}
    {% if page.active %}
      <li class="digging-item flex-container">
          <div class="decorate hidden-xs hidden-sm">
            <div class="digging-shortcut">
              <a class="digging-logo digging-{{page.type}}" href="{{page.url | prepend: site.baseurl}}"></a>
              <a class="digging-label" href="{{page.url | prepend: site.baseurl}}">{{page.title}}</a>
            </div>
            <div class="digging-post-count">
              <span class="count-number">{{site.categories[page.type] | size}}</span>
              <span>Diggin'</span>
            </div>
          </div>
          <div class="content">
            <p class="digging-describe hidden-xs hidden-sm">{{page.description}}</p>
            <h3 class="digging-page-title"><strong>Newest Diggin'</strong></h3>
            <ul class="digging-posts-by-category uncontent-list">
            {% for post in site.categories[page.type] limit:5 %}
                <li class="post-item">
                  <div class="flex-container">
                    <div class="post-preview">
                      <div class="post-meta">
                        <span class="">{{post.date | date: "%b %-d, %Y"}}</span>
                        <span class="text-uppercase">{{ post.categories | join: " "}}</span>
                      </div>
                      <div class="post-title flex-container">
                        <h4 class="first-char"><strong>{{post.title | split: '' | first}}</strong></h4>
                        <a class="flex-item post-link" href="{{ post.url | prepend: site.baseurl }}"><h4 class="flex-item"><strong>{{ post.title }}</strong></h4></a>
                        <div class="flex-item time-to-read"><strong>{{ post.timeToRead}}'</strong></div>
                      </div>
                      <p>{{post.description}}</p>
                    </div>
                  </div>
                </li>
            {% endfor %}
            </ul>
          </div>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
