<header class="site-header row">
  <div class="header-meta flex-container flex-container-default">
    <div class="header-title">
      <h3><strong>{{ site.title }}</strong></h3>
    </div>
    <div class="header-about flex-container">
      <div class="about-project">
        <h6>Web dev. planet</h6>
        <h4><a href='{{ "/about/" | prepend: site.baseurl }}'><strong>About</strong></a></h4>
      </div>
      <div class="about-me">
        <h6>{{ site.author }}</h6>
        <h4><a href='{{ "/author/" | prepend: site.baseurl }}'><strong>Author</strong></a></h4>
      </div>
    </div>
    <div class="hire-me hidden-xs hidden-sm">
      <h6>Contact</h6>
      <h4><strong>Hire Me</strong></h4>
    </div>
  </div>
  <div class="header-main flex-container">
    <ul class="things uncontent-list flex-container hidden-xs hidden-sm">
      {% for page in site.pages limit:5 %}
      <li class="item">
        <h6>{{ page.willing }}</h6>
        <h4><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h4>
      </li>
      {% endfor %}
    </ul>
    <div class="graphs">
      <a class="logo logo-on-header" href="{{ site.baseurl }}/"></a>
    </div>
  </div>
</header>
